<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>LSTM Signal API</title>
</head>
<body>
    <h2>API end point</h2>
    <p>/api/predict</p>
    <h2>Query Parameter</h2>
    <ul>
        <li>market: exchange name (e.g. binance)</li>
        <li>symbol: pair name such as btcusdt</li>
        <li>freq: time frequency (second) of cryptowatch time series data. (e.g. 7200)</li>
    </ul>
    <h3>APIドキュメント</h3>
    <a href="/docs">API Document</a>
</body>
</html>